@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Barlow Condensed", sans-serif;
  height: 100vh;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: hsl(230, 29%, 20%);
}

a,
.login {
  cursor: pointer;
}

a:hover,
.login:hover {
  text-decoration: underline;
}

.bg-style {
  width: 50%;
  height: 350px;
  background-color: hsl(207, 33%, 95%);
  position: absolute;
  right: 0;
  z-index: -1;
}

nav {
  padding: 6rem 15rem 0 15rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.nav-items-container {
  display: flex;
  align-items: center;
}

.nav-list-container,
.nav-list {
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-list-container {
  gap: 9rem;
}

.nav-list {
  gap: 3rem;
}

.login {
  color: hsl(231, 7%, 65%);
}

.nav-toggle {
  display: none;
  cursor: pointer;
}

main {
  display: flex;
  overflow-x: hidden;
}

.text {
  width: 100%;
  padding: 15rem 0 0 15rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.hero-title-container {
  width: 50%;
}

.top-text {
  color: hsl(231, 7%, 65%);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2.5px;
  font-size: 1.5rem;
}

.top-text span {
  background-color: #000;
  color: #fff;
  padding: 0.4rem 0.8rem;
  border-radius: 10rem;
  letter-spacing: 1px;
  margin-right: 0.3rem;
}

.primary-title {
  font-size: clamp(4rem, 10vw, 7rem);
  line-height: clamp(2.5rem, 10vw, 7rem);
  text-transform: uppercase;
}

.secondary-title {
  font-size: clamp(1.8rem, 1vw, 3rem);
  color: hsl(231, 7%, 65%);
  text-transform: uppercase;
}

.demo-container {
  display: flex;
  gap: 3rem;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  width: 100%;
}

.btn-primary {
  background-color: hsl(0, 100%, 68%);
  color: #fff;
  border-radius: 5px;
  padding: 1rem 2rem;
}

.btn-secondary {
  background-color: transparent;
  color: hsl(231, 7%, 65%);
}

.hero-image {
  padding-top: 5rem;
  display: flex;
  align-items: center;
}

.hero-image img {
  width: 100%;
}

@media (max-width: 800px) {
  .overlay {
    position: absolute;
    inset: 0;
  }

  .bg-style {
    height: 200px;
  }

  .hero-title-container {
    width: 100%;
    order: 1;
    height: 50%;
  }
  .text {
    padding: 3rem;
  }

  .hero-image {
    margin-right: -16rem;
  }

  main {
    flex-direction: column;
    gap: 5rem;
  }

  button {
    font-size: 1.3rem;
    letter-spacing: 1px;
  }

  nav {
    padding: 4rem 4rem 0rem 4rem;
  }
  .nav-toggle {
    display: block;
  }

  .nav-list-container {
    display: none;
  }
  .nav-list-container.active {
    position: fixed;
    display: flex;
    top: 10rem;
    flex-direction: column;
    box-shadow: -2px 5px 20px 0px rgba(0, 0, 0, 0.3);
    left: 10%;
    right: 10%;
    gap: 2rem;
    text-align: center;
    padding: 3rem 4rem 3rem 4rem;
    background-color: #fff;
  }

  .nav-list {
    flex-direction: column;
    gap: 2rem;
    border-bottom: 2px solid hsl(231, 7%, 65%);
    padding-bottom: 2rem;
  }
}
